{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name=viewport" content="width=device=width, initial=scale=1.0">
  <title>kokoaBlog</title>
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}"
  <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
<body>
   <h1>kokoaBlog</h1>
   {% if entrys_total > 0 %}
     <h2>Tengo algunas entrads :D</h2>
   {% endif %}
   {% for entry in entrys %}
 
    <div>
      <h3>{{ entry.title }}</h3>
      <p>{{ entry.body }}</p>
    </div>
   {% endfor %}
</body>
</html>

