{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name=viewport" content="width=device=width, initial=scale=1.0">
  <title>kokoaBlog</title>

  <link rel="stylesheet" href="{% static 'style.css' %}"
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}"  
</head>
<body>
   <h1>kokoaBlog</h1>
     {% if entrys_total > 0 %}
       	<h2> Tengo {{ entrys_total }} entradas disponibles :D</h2>
    {% endif %}

<main class="container" role='main'>
       	<div class="panel panel-default">
       	{% for entry in entrys %}
               	<div class="panel-heading">
                       	<h3 class="panel-title"> {{ entry.title}} </h3>
                </div>
               	<div class="panel-body">
                        <div style="float:left; padding-left:1em; position:static">
                                <img style="height:6em" class="img-responsive" src="{{ entry.img_url }}">
                       	</div>

                        <div style="float:left; padding-left:1em; position:static">
                         {{ entry.body }}
                         </div>
               	</div>
       	{% endfor %}
       	</div>
</main>
</body>
</html>

